{% extends "base.html" %}
<!-- Eigenentwicklung -->

{% block app_content %}
	<h1>Cleaning-Schedule</h1>
		<p>Cleaning-Schedule bietet Reinigungsfirmen die Möglichkeit eine Onlineübersicht der durchgeführten Reinigungen zu erhalten. </p>
		<p>Die registrierten Benutzer erhalten eine Übersicht mit allen getätigen Reinigungen inkl. der Adresse und der Wohnungsbezeichnung. Dadurch müssen keine veralteten Papierlisten im Treppenhaus geführt werden.</p>
		<h2>Arbeitsauftrag VCID</h2>
		<p>Dies ist eine Arbeit der ipso Bildung AG. Bei der Durchführung dieser Praxisarbeit, soll das erlernte Wissen der Fächer DBWE, ITAR und VICC angewendet werden. Folgende praktische Ergebnisse müssen geliefert werden:</p>
		<ul>
			<li>eine lauffähige Anwendung mit Flask und einer Datenbank</li>
			<li>eine Plattform, auf der die Anwendung in der Cloud bereitgestellt wird</li>
		</ul>
		<p>Die dazugehörige Dokumentation wird auf Complesis hochgeladen.</p>
{% endblock %}
